.badge-container {
    display: inline-block;
    margin: 0 auto;
}

.badge-content {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    background: rgba(0, 121, 140, 0.1);
    mix-blend-mode: multiply;
    border-radius: 16px;
    gap: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #00798C;
}

.with-badge {
    padding: 4px 12px 4px 4px;
}

.badge-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 10px;

    background: #00798C;
    color: white;
    mix-blend-mode: normal;
    border-radius: 16px;
}

.badge-text-and-icon {
    display: flex;
    align-items: center;
    gap: 4px;
}

.badge-outline {
    background-color: transparent;
    color: #00798C;
    border: 1.5px solid #00798C;

    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}