.faq-item {
    display: flex;
    gap: 24px;
    width: 100%;
}

.faq-item ~ .faq-item {
    padding-top: 24px;
    border-top: 1px solid #EAECF0;
}

.faq-item-text-and-support-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.faq-item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #101828;
    margin: 0;
}

.faq-item-support-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
    text-align: left;
    margin: 8px 0 0;
}

.faq-item-expand-fold-icon {
    text-align: right;
}