.header-container {
    border-bottom: 1px solid #F2F4F7;
}

.header {
    width: 1216px;
    margin: 0 auto;
    padding: 14px 0;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    font-weight: 600;
}

.logo-Nav-container {
    display: flex;
}

.logo {
    width: 52px;
    height: 52px;
    border-radius: 8px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
}

header a {
    text-decoration: none;
    color: #475467;
}

header button {
    border: none;
    background-color: transparent;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #475467;
    cursor: pointer;
}

.nav {
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.active {
    padding: 8px 12px;
    background-color:#E6F2F4;
    border-radius: 8px;
    color: black;
}

.nav-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 321px;
}

.login-btn {
    width: 150px;
    text-align: center;
    padding: 10px 18px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
}

.signup-btn {
    width: 95px;
    text-align: center;
    padding: 10px 18px;
    border-radius: 8px;
    background-color: #00798C;
    color: white;
}