.social-proof {
    text-align: center;
}

.social-proof-content {
    padding: 92px 80px 96px 80px;
}

.social-proof-subheading {
    color: #00798C;
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 40px;
}