.container {
    width: 1214px;
    margin: 0 auto;
}

.n-container {
    width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
}

.rtl {
    direction: rtl;
}

.red {
    background-color: red;
}

.bold {
    font-weight: bold;
}

.btn {
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #6941c6;
}

.link {
    transition: color 0.3s;
}

.link:hover {
    color: black;
}

input:focus {
    outline: 4px solid #f4ebff;
}

.x-btn {
    transition: background-color 0.3s;
}

.x-btn:hover {
    background-color: #f9fafb;
}